@import "tailwindcss";

@import "../styles/colors.css";
@import "../styles/animations.css";

/*
|--------------------------------------------------------------------------
| Tailwind Theme Tokens
|--------------------------------------------------------------------------
*/

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);

    --color-card: var(--card);
    --color-border: var(--border);
}

/*
|--------------------------------------------------------------------------
| Global Styles
|--------------------------------------------------------------------------
*/

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);

    min-height: 100vh;
}

/*
|--------------------------------------------------------------------------
| Selection
|--------------------------------------------------------------------------
*/

::selection {
    background: #ff5c00;
    color: white;
}

.bg-grid-light {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.08) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.08) 1px, transparent 1px);
    background-size: 50px 50px;
}

.bg-grid-dark {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
    background-size: 50px 50px;
}
